/***** BASE CSS *****/



/* Responsive Image */

img.responsive {
	max-width:100%;
	height:auto;
	width:auto;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	margin-left: 0px;
}

  
/* Additional */
    
#divBoxed {position:relative}


/* Adjustments */
      
.divPanel.notop {padding-top:0px}

/***** BOOTSTRAP CSS BASE OVERRIDE *****/

body {
	background-position: inherit inherit;
	background-repeat: repeat repeat;
}

#divBoxed {
	margin-top: 40px;
}

#divLogo{margin-top: 40px;
	margin-bottom: 0px;
	text-align: left;
}

#divSiteTitle{	
	font-family: Syncopate; 
	font-size: 25px; 
	line-height: 49px; 
	color: rgb(224, 95, 3); 
	text-shadow: rgba(0, 0, 0, 0.0980392) 0px 3px 5px, rgba(255, 255, 255, 0.298039) 0px -5px 35px; 
	letter-spacing: 4px; 
	font-weight: normal; 
	font-style: normal; 
	text-transform: uppercase;
}

#divTagLine{
	color: rgb(150, 150, 150); 
	line-height: 24px; 
	text-transform: none; 
	letter-spacing: 4px; 
	font-size: 16px; 
	padding-left: 2px; 
	padding-right: 2px; 
	background-color: transparent; 
	text-shadow: none; 
	font-family: Abel; 
	font-weight: normal; 
	font-style: normal; 
	text-decoration: initial;
}

.camera_wrap .camera_wrap .camera_wrap  {
	box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px inset; 
	background-color: rgb(230, 230, 230);  
}

.camera_wrap {
	display: block;
	margin-left: 50px;
	margin-bottom: 15px;
	height: auto;
	width: auto;
	border: 5px solid rgb(255, 255, 255);
	margin-top: 20px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
}

Footer{
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: black;
	color: white;
	font-family: Actor, sans-serif;
	font-size: 20px;
	text-align: center;
	margin-left:-20px;
	margin-right:-20px;
	padding-left:20px;
	padding-right:20px;
}

.divPanel {
	padding: 30px;
}

.transparent-bg {
	-moz-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px; 
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
	background-color: rgb(255, 255, 255);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
   
#divLogo {
	margin-top:10px;}

  
#divMenuRight {
	float:center;
	width:94.5%;
	margin-top: 10px;
	padding-top:0px;
}

body  {
	padding-top:0px;
	margin-left:-20px;
	margin-right:-20px;
}

/* Biografia */

div.derecha{
    float:left;
	width:auto;
	height:auto;
	background-color: #BEB9B9;
}

div.izquierda{
    float: right;
	width:auto;
	height:auto;
	background-color: #BEB9B9;
}

div.bio_foto{
	width: auto;
	height: auto;
	background-color: #BEB9B9;
}

div.datos{
	width:auto;
	height: auto;
}

p{
	font-family: Actor, sans-serif;
	font-size: 14px;
	color:black;
}

/* Eventos */

h1{
	font-family: Edwardian Script ITC;
	font-size: 2.500em;
	color: #f0296b;
	text-align: center;
	background-color: black; 
}

section.eventos{
	width: auto;
	height: auto;
	font: Arial;
	font-size: 1.250em;
	color: red;
	background-color: white;
}

div.eventos{
	text-align: center;
	float: center;
	margin: auto;
	width: auto;
	background-color: white;
}

/* Fotos */
section.galeria{
	margin-left: 55px;
}

/* Contacto */
section.contacto{
	margin-left: 200px;
}

h3{
   font-size: 2.500em; 
   color: black; 
   text-align: center; 
}

h4{
   font-family: ilatic;
   font-size: 1.1em; 
   color: grey; 
   text-align: left; 
   margin: 0.625em 00em 00em 00em;
   text-decoration: underline;
}

div.contenedor_formulario{
	margin: 0.625em 00em 00em 00em;
	line-height: 1.8em;
	color: #555;
	border-bottom-color: #d83f28;
}

label{
	text-transform: uppercase;
	font-size: .8em;
	border-bottom: 1.500em solid  #f0296b;
	border-right: 1.500em solid transparent;
	height: 0;
	line-height: 1.500em;
	display: inline-block;
	padding: 0 0.625em 0 0.625em;
	float: left;
	color: #fff;
} 

input[type="text"], input[type="email"], textarea {
	width: 39.000em;
	padding: 0.500em 0.500em;
	font: Arial;
}

textarea{
	width: 39.000em;
	max-width: 100%;
	height: 12.500em;
}

div.boton_enviar{
	margin: 0.625em 00em 1.875em 00em;
}

section.container{
	margin-left: -70px;
}