/* Elimina valores que ponen los navegadores por defecto */
*{
	margin:0px;
	padding:0px;
}

header{
	margin: auto;
	height: 100%;
	width: 100%;
	background-color: white;
}

p.portada{
    margin: auto; 
	font-family: Edwardian Script ITC;
	text-align: center; 
	font-size: 5em;
	color: black;
}

/* Estilo nav */
nav{
	margin:1em auto; /* 50px desplazamiento vertical y centrado */
	width:62.500em;     /* Ancho */
	height:2.500em;      /* Alto */
    background-color: red; /* Color */
}

/* Lista de "vinculos" */
ul{
	list-style: none; /* Sin estilo */
	width:62.500em;     /* Ancho y alto igual al nav */
	height:2.500em;
}

/* Vinculos */
li{
	float:left;  /* listo los vinculos hacia la izquierda */
	width:12.500em; /* Ancho de cajita por vinculo */
	height: 2.500em; /* Alto de cajita por vinculo */
	background-color: green;
	overflow: hidden; /* Esconde los contenedores hacia adentro */
	margin-top:0px; /* Sube la cajita hasta arriba */
}

/* Genera el efecto hover */
div.contenedor_general:hover{
    margin-top:-2.500em; /* Negativo para que la cajita baje */
}

div.contenedor_general{
	width:12.500em;
	height:5.000em;
	background-color: yellow;
	-webkit-transition:margin-top .3s;
}

div.contenedor_uno{
    width:12.500em;
	height:2.250em;
	background-color: black;
	overflow: hidden;
	border-bottom:0.250em solid #f0296b;
}

div.contenedor_dos{
	width:12.500em;
	height:2.250em;
	background-color: #f0296b;
	overflow: hidden;
	border-bottom:0.250em solid black;
}

p.texto_uno, p.texto_dos{
    text-align: center;
	margin-top:0.625em;
	color:white;
}

section.arriba{
    margin: auto;
	width: auto;
	height: auto;
	margin: 00em 00em 00em 11.8em;
}

section.abajo{
    margin: auto;
	width: auto;
	height: auto;
	background-color: white;
}

div.redes{
    margin: auto;
	margin: 00em 00em 1.563em 6.250em;
}

/* Biografia */

section.container{
	float: centre;
	width: auto;
	height: auto;
	border-color: red;
}

section.derecha{
    float:left;
	width:14%;
	height:auto;
	background-color: #BEB9B9;
	margin: 00em 00em 00em 26.063em;
}

section.izquierda{
    float: right;
	width:25%;
	height:17.250em;
	background-color: #BEB9B9;
	margin: 00em 26.563em 00em 00em;
}

div.bio_foto{
    float: center;
	width: 15.625em;
	height: 0px;
	margin: 00em 00em 00em 00em;
}

div.datos{
	width:37.500em;
	margin: 00em 00em 00em 00em;
}

/* Eventos */

h1{
	font-family: Edwardian Script ITC;
	font-size: 2.500em;
	color: #f0296b;
	text-align: center;
}

section.eventos{
	width: 49.995em;
	height: auto;
	font: Arial;
	font-size: 1.250em;
	color: red;
	margin: 00em 00em 0.625em 173px;
	background-color: black;
}

div.eventos{
	text-align: center;
	float: center;
	margin: auto;
	width: auto;
	margin: 0.625em 00em 0.625em 0em;
	background-color: white;
}

/* Fotos */

#cabecera { 
	background-color: #feffe4; 
}

h2{ 
	font-family: Edwardian Script ITC;
	font-size: 1.875em;
	width: 74%;
	text-align: center; 
	padding: 0.031em;
	background-color: #f0296b;
	margin: 00em 00em 00em 5.775em;
	text-shadow: 0.063em 0.063em 0 white, -0.063em -0.063em white, 0.063em -0.063em white, -0.063em 0.063em white, 0 0.063em white, 0.063em 0 white, -0.063em 0 white, 0 -0.063em white;
} 

#galeria-small{  
    width: 1000px;  
    height: auto;  
	margin: 0px 0px 0px 173px;
	background-color: pink;
}   

#galeria-small img{  
    width: 200px;  
    height: 200px;  
    border: 1px solid white;
	margin: 0px 0px 0px 32px;
}  
  
#contenedor{  
    width: 1000px;  
    margin: 00em 00em 00em 20em;  
    padding-top: 10px;  
}

/* Contacto */

h3{
   font-size: 2.500em; 
   color: black; 
   text-align: center; 
   margin: 00em 00em 00em 11.563em; 
}

h4{
   font-family: ilatic;
   font-size: 1.1em; 
   color: grey; 
   text-align: left; 
   margin: 0.625em 00em 00em 11.563em;
   text-decoration: underline;
}

div.contenedor_formulario{
	margin: 0.625em 00em 00em 11.563em;
	line-height: 1.8em;
	color: #555;
	border-bottom-color: #d83f28;
}

label{
	text-transform: uppercase;
	font-size: .8em;
	border-bottom: 1.500em solid  #f0296b;
	border-right: 1.500em solid transparent;
	height: 0;
	line-height: 1.500em;
	display: inline-block;
	padding: 0 0.625em 0 0.625em;
	float: left;
	color: #fff;
} 

input[type="text"], input[type="email"], textarea {
	width: 39.000em;
	padding: 0.500em 0.500em;
	font: Arial;
}

textarea{
	width: 39.000em;
	max-width: 100%;
	height: 12.500em;
}

div.boton_enviar{
	margin: 0.625em 00em 1.875em 11.563em;
}

/* --- */

footer{
	width: 60.000em;
	height: 9.375em;
	margin: 21.875em auto 0;
	font: Arial;
	text-align: center; 
	font-size: 1.250em;
	color: black;
}
